@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica-Neue-Regular";
  src: url("../public/fonts/helvetica-neue-regular.ttf");
}

@font-face {
  font-family: "Helvetica-Neue-Light";
  src: url("../public/fonts/helvetica-neue-light.ttf");
}

@font-face {
  font-family: "Helvetica-Neue-Medium";
  src: url("../public/fonts/helvetica-neue-medium.ttf");
}

@font-face {
  font-family: "Helvetica-Neue-Bold";
  src: url("../public/fonts/helvetica-neue-bold.ttf");
}

/*Scrollbar*/
html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 8px;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: darkgray;
}

html ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
/*ScrollbarEnd*/

.customTransition {
  @apply transition duration-300 hover:transition duration-300
}